
.counties {
    cursor: pointer;
    fill: #7FB3D5;
}

 /* .states :hover {
     fill:yellow;
} */

.states {
    stroke: white;
    stroke-opacity: 30;
}

body {
    position: absolute;
    font-family: "Proxima Nova", "Montserrat", sans-serif;
}
h2, h3, #meal, #domestic_beer, #rent, #monthlycommute, #gas, #milk, #eggs, #monthly-utilities, #fitness-club, #mortgage-rate {
    position: absolute;
    right: 300px;
    font-size: 1.3em;
    font-weight: 100;
    font-family: 'Varela Round', sans-serif;
}
h2 {
    top: 30px;
    font-size: 1em;
}
h3 {
    top: 50px;
    font-size: 1em;
}

#meal {
    top: 100px;
    font-size: 1em;
}

#domestic_beer {
    top: 120px;
    font-size: 1em;
}

#rent {
    top: 140px;
    font-size: 1em;
}

#monthlycommute {
    top: 160px;
    font-size: 1em;
}

#gas {
    top: 180px;
    font-size: 1em;
}

#milk {
    top: 200px;
    font-size: 1em;
}

#eggs {
    top: 220px;
    font-size: 1em;
}

#monthly-utilities {
    top: 240px;
    font-size: 1em;
}

#fitness-club {
    top: 260px;
    font-size: 1em;
}

#mortgage-rate {
    top: 280px;
    font-size: 1em;
}



