
/* .states {
    fill:lightblue  ;
    cursor: pointer;
}  */

 /* .states :hover {
     fill:yellow;
} */

body {
    position: absolute;
    font-family: "Proxima Nova", "Montserrat", sans-serif;
}
h1, h2, h3 {
    position: absolute;
    right: 10px;
    font-size: 1.3em;
    font-weight: 100;
}
h2 {
    top: 30px;
    font-size: 1em;
}
h3 {
    top: 50px;
    font-size: 1em;
}

